<div class="col-md-6 container mt-3">
  <h2>Geef het nieuwe wachtwoord</h2>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onReset()">
    <div class="form-group">
      <label for="password">Geef het nieuwe wachtwoord:</label>
      <input type="password" class="form-control" formControlName="password" autocomplete="off">
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger mt-1">
        <div *ngIf="password.errors.required">Wachtwoord is vereist...</div>
      </div>
    </div>
    <div class="form-group">
      <label for="passwordConfirm">Geeft het nieuwe wachtwoord nogmaals:</label>
      <input type="password" class="form-control" formControlName="passwordConfirm" autocomplete="off">
      <div *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched)" class="alert alert-danger mt-1">
        <div *ngIf="passwordConfirm.errors.required">Bevestigen van het wachtwoord is vereist...</div>
      </div>
    </div>
    <button class="btn btn-success" [disabled]="resetPasswordForm.invalid">Verstuur het nieuwe wachtwoord</button>
  </form>
</div>
