<nav class="navbar  navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="home">wat lees ik | </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="home">Home</a><span class="sr-only">(current)</span>
      <a class="nav-item nav-link" routerLink="login">login</a>
      <a class="nav-item nav-link" routerLink="register">registreren</a>
      <a class="nav-item nav-link" routerLink="book">Boekenbeheer</a>
      <a class="nav-item nav-link disabled">disabled</a>
    </div>
  </div>
</nav>
