<nav class="navbar  navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="home">wat lees ik | </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link active" routerLink="home">Home</a><span class="sr-only">(current)</span>
      <a class="nav-item nav-link" routerLink="book">Zoeken</a>
      <a class="nav-item nav-link" routerLink="account/account-list">Accounts</a>
      <a class="nav-item nav-link disabled">disabled</a>
    </div>
    <div class="navbar-nav" *ngIf="!currentAccount">      
        <a class="nav-item nav-link" routerLink="login">login</a>      
    </div>

    <div class="row" *ngIf="currentAccount">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownProfile" ngbDropdownToggle>{{currentAccount.email}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownProfile">
            <button class="dropdown-item" routerLink="profile/profile-update">Mijn profiel</button>
            <button class="dropdown-item" routerLink="profile/book-list">Boekenlijst</button>
            <button class="dropdown-item" routerLink="logout">Uitloggen</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
