<div class="col-md-6 container mt-3">
  <h2>Vul uw email adres in</h2>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onReset()">
    <div class="form-group">
      <label for="email">Emailadres:</label>
      <input type="text" class="form-control" formControlName="email" id="email" autocomplete="off">
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-1">
        <div *ngIf="email.errors.required">Emailadres is vereist...</div>
      </div>
    </div>
    <button class="btn btn-success" [disabled]="forgotPasswordForm.invalid">Verstuur wachtwoord reset email</button>
  </form>
</div>